.user-panel {
    display: inline-block;
    width: 30vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #333;
    color: white;
    font-size: 17px;
}

.user-inner-panel {
    margin: 20px;
}

.profile-menu-item {
    margin-top: 15px;
    opacity: 0.8;
}

.profile-menu-item:hover {
    opacity: 1;
    cursor: pointer;
}

.profile-block {
    margin-left: 20px;
}

.icon {
    display: inline-block;
    margin-right: 5px;
}


.active-panel {
    display: inline-block;
    width: 60vw;
    position: absolute;
    left: 30vw;
    padding: 20px 30px;
}
