.song-player {
    width: 30%;
    height: 20%;
    position: absolute;
    top: 30%;
    right: 35%;
    background-color: #282c34;
}

.song-player .title{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.song-player .artist {
    text-align: center;
    color: white;
}

.song-player .player-component{
    position: absolute;
    bottom: 0;
    width: 100%;
}

