.song-player {
    width: 100%;
    height: 150px;
    position: relative;
    background-color: #333;
    color: white;
}

.song-player .title {
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
}

.song-player .title, .song-player .artist, .song-player .song-count {
    margin-left: 10px;
}

.song-player .player-component {
    position: absolute;
    bottom: 0;
    width: 100%;
}

audio {
    width: 100%;
    height: 30px;
}

.listen-playlist-button, .delete-playlist-button {
    color: #ffffff;
    margin: 5px 10px;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    width: auto;
}

.delete-playlist-button {
    background: #ad2121;
}

.add-to-playlist {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
}

.add-to-playlist:hover {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 5px;
    top: 30px;
    list-style-type: none;
    color: #333;
    margin: 0;
    padding: 0;
    z-index: 1;
    background: white;
}

.dropdown-content li:hover {
    cursor: pointer;
}

.dropdown-content li {
    border: 1px solid #333;
    padding: 10px 15px;
}

audio::-webkit-media-controls {
    width: inherit;
    height: inherit;
    position: relative;
    direction: ltr;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

audio::-webkit-media-controls-enclosure {
    width: 100%;
    max-width: 800px;
    height: 30px;
    flex-shrink: 0;
    bottom: 0;
    text-indent: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0;
}

audio::-webkit-media-controls-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    -webkit-user-select: none;
    position: relative;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    text-align: right;
    bottom: auto;
    height: 30px;
    background-color: #6c6c6c;
    transition: opacity 0.3s;
}

audio::-webkit-media-controls-mute-button {
    -webkit-appearance: media-mute-button;
    display: flex;
    flex: none;
    border: none;
    box-sizing: border-box;
    width: 35px;
    height: 30px;
    line-height: 30px;
    margin: 0 6px 0 0;
    padding: 0;
    background-color: initial;
    color: inherit;
}

audio::-webkit-media-controls-overlay-enclosure {
    display: none;
}

audio::-webkit-media-controls-play-button {
    -webkit-appearance: media-play-button;
    display: flex;
    flex: none;
    border: none;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 9px;
    margin-right: 9px;
    padding: 0;
    background-color: initial;
    color: inherit;
}

audio::-webkit-media-controls-timeline-container {
    -webkit-appearance: media-controls-background;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1;
    -webkit-user-select: none;
    height: 16px;
    min-width: 0;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    -webkit-appearance: media-current-time-display;
    -webkit-user-select: none;
    flex: none;
    display: flex;
    border: none;
    cursor: default;
    height: 30px;
    margin: 0 9px 0 0;
    padding: 0;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    color: white;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    text-decoration: none;
}

audio::-webkit-media-controls-timeline {
    -webkit-appearance: media-slider;
    display: flex;
    flex: 1 1 auto;
    height: 8px;
    margin: 0 15px 0 0;
    padding: 0;
    background-color: transparent;
    min-width: 25px;
    border: initial;
    color: inherit;
}

audio::-webkit-media-controls-volume-slider {
    -webkit-appearance: media-volume-slider;
    display: flex;
    flex: 1 1.9 auto;
    height: 8px;
    max-width: 70px;
    margin: 0 15px 0 0;
    padding: 0;
    background-color: transparent;
    min-width: 15px;
    border: initial;
    color: inherit;
}

input[type="range" i]::-webkit-media-slider-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 1px solid rgba(230, 230, 230, 0.35);
    background-color: transparent;
}

input[type="range" i]::-webkit-media-slider-container > div {
    margin-right: -14px;
}

input[type="range" i]::-webkit-media-slider-thumb {
    margin-left: -7px;
    margin-right: -7px;
}

audio::-webkit-media-controls-fullscreen-button {
    -webkit-appearance: media-enter-fullscreen-button;
    display: flex;
    flex: none;
    border: none;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: -5px;
    margin-right: 9px;
    padding: 0;
    background-color: initial;
    color: inherit;
}
